* {
    margin: 0;
    padding: 0;
    }

body {
    min-height: 100vh;
    width: 100%;
    background-color: lavender;
    background-image: url(../home-butterfly-back.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
/* nav section */

.topnav {
    background-color: transparent;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

nav {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    color: #672B96;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 80px;
    margin: 40px;
    background-color: transparent;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: pink;
}

nav ul li h1 {
    font-size: 80px;
}

.cure {
    color: #FFEC89;
}

.current {
    color: orange;
}
/* body section */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 20vh;
    width: 15%;
    justify-content: center;
}

.title {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 65px;
    font-style: normal;
    color: #FFEC89;
    text-align: center;
    word-spacing: 10%;
    margin: 30px;
    background-color: transparent;
}

.help {
    font-family: "elido", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
}

.textbox {
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 10%;
    margin-left: 40px;
    padding: 30px;
    background-color: antiquewhite;
    opacity: 50%;
    border-radius: 25px;
}
.textbox p a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

/* @media screen {
   
} */