* {
    margin: 0;
    padding: 0;
    }

    body {
        min-height: 100vh;
        width: 100%;
        background-color: lavender;
        background-image: url(../img/event-butt-final.jpg);
        background-repeat: repeat-y;
        background-position: center;
        background-size: 100%;
    }
/* nav section */
.topnav {
    background-color: transparent;
}

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.logo {
    min-height: 8vh;
    width: 120px;
}

nav {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    color: #672B96;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 80px;
    background-color: transparent;
}

nav ul {
    list-style-type: none;
    margin-left: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li h1 {
    font-size: 80px;
}

.cure {
    color: #FFEC89;
}

.current {
    color: orange;
}

/* body */

.events {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 70px;
    font-style: normal;
    color: #FFEC89;
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #7437A1;
    border-radius: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.dayone {
    position: relative;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
}

.dayone h2 {
    position: relative;
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.firstday {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center;
}

.firstday img {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

.daytwo {
    /* display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center; */
    margin-top: 20px;
    margin-left: 5%;
}

.daytwo h2 {
    position: relative;
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}
.secondday {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center;
}
.secondday img {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

.daythree {
    position: relative;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
}

.daythree h2 {
    position: relative;
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
}

.thirdday {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center;
}

.thirdday img {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}