* {
    margin: 0;
    padding: 0;
    }

    body {
        min-height: 100vh;
        width: 100%;
        background-color: lavender;
        background-image: url(../img/event-butt-final.jpg);
        background-repeat: repeat-y;
        background-size: 100%;
    }
/* nav section */

.nav-list {
    list-style-type: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.logo {
    width: 120px;
}

nav {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: pink;
}


.cure {
    color: #FFEC89;
}

.current {
    color: orange;
}

/* body */

.title {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 100px;
    font-style: normal;
    color: #FFEC89;
    text-align: center;
    background-color: #7437A1;
    border-radius: 60px;
    padding: 15px 30px;
}

.container p {
    font-family: "ff-tisa-sans-web-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 30px;
    background-color: antiquewhite;
    opacity: 50%;
    border-radius: 25px;
}

.container p a {
    text-decoration: none;
}


a:hover {
    color: orange;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 1200px;
}

.day-title {
    text-align: center;
    font-family: "eight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
    background-color: #eb7f2d;
    opacity: 100%;
    border-radius: 30px;
    padding: 10px;
}

.artists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.artist-image-right {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

.artist-image-left {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

.artist-image-right:hover {
    transform: rotate(20deg) translateY(-40px);
}

.artist-image-left:hover {
    transform: rotate(-20deg) translateY(-40px);
}

#laufey {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

#laufey:hover {
    transform: translateY(-40px);
}

#nwjns {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

#nwjns:hover {
    transform: translateY(-40px);
}

#olirod {
    width: 346px;
    height: 230px;
    border-radius: 50px;
}

#olirod:hover {
    transform: translateY(-40px);
}

.day-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

.fake {
    font-family: "elido", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    background-color: purple;
    opacity: 100%;
    border-radius: 30px;
    padding: 10px;
}

.fake:hover {
    background-color: pink;
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 80px;
        padding: 10px 20px;
    }

    .artists {
        flex-direction: column;
    }

    .day-title {
        text-align: center;
    }

    .artist-image {
        width: 80%;
        height: auto;
    }

    .nav-list {
        display: grid;
        grid-template-areas: 
        "home logo shop"
        "events logo about"
        ;
    }

    .home {
        grid-area: home;
    }

    .events {
        grid-area: events;
    }
    
    .nav-logo {
        grid-area: logo;
    }
    
    .shop {
        grid-area: shop;
    }

    .about {
        grid-area: about;
    }
}

@media screen and (max-width: 425px) {
    nav {
        font-size: 30px;
    }
}