* {
    margin: 0;
    padding: 0;
    }

    body {
        min-height: 100vh;
        width: 100%;
        background-color: lavender;
        background-image: url(../img/event-butt.jpeg);
        background-repeat: repeat-y;
        background-position: center;
        background-size: 100%;
    }
/* nav section */
.topnav {
    overflow: hidden;
    background-color: transparent;
}

.logo {
    min-height: 5vh;
    width: 10%;
    margin-left: 10px;
}

nav {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    color: #672B96;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 50px;
    background-color: transparent;
}

nav ul {
    list-style-type: none;
    margin-left: 2%;
}

nav ul li {
    display: inline-block;
}
nav a {
    text-decoration: none;
}

.cure {
    color: #FFEC89;
}

/* body */

.events {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 70px;
    font-style: normal;
    color: #FFEC89;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 15%;
    background-color: #9A7BCD;
    border-radius: 60px;
}