* {
    margin: 0;
    }

/* nav section */
.topnav {
    overflow: hidden;
    background-color: transparent;
}
nav {
    font-family: "new-astro", sans-serif;
    font-weight: 800;
    font-size: 30px;
    font-style: normal;
    text-transform: lowercase;
    text-align: center;
    text-decoration: none;
    word-spacing: 200px;
    margin: 40px;
    background-color: transparent;
}